<!-- <ngb-carousel>
    <ng-template ngbSlide>
      <img src="https://lorempixel.com/900/500?r=4" width="200px" height="150px" alt="Random first slide">
      
    </ng-template>
    <ng-template ngbSlide>
      <img src="https://lorempixel.com/900/500?r=5" width="200px" height="150px" alt="Random second slide">
      
        
    </ng-template>
    <ng-template ngbSlide>
      <img src="https://lorempixel.com/900/500?r=6" width="200px" height="150px" alt="Random third slide">
          </ng-template>
  </ngb-carousel>     -->
