<div class="display-details">
       
     <p> Submited by {{quote.name}} </p>
     <button class="btn btn-success btnspace" (click)='like()' type="button" name="button" >
     <span class="fa fa-thumbs-up"></span>  : {{upvote}} </button>

     <button class="btn btn-danger btnspace" (click)='hate()' type="button" name="button" style="margin-left:2.5em">
     <span class="fa fa-thumbs-down"></span>: {{downvote}}</button>

     <button class="btn btn-danger" (click)="quoteDelete(true)" style="margin-left:80px"><i class="fa fa-trash"  ></i></button>

     
      
     </div>